{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<!--begin::Main-->
{% include 'parts/mobile_header.html' %}
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        {% include 'parts/aside.html' with menu_parent="student" menu_submenu="student-list" %}
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            {% include 'parts/header.html' %}
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">

                        <div class="card card-custom card-stretch" id="kt_page_stretched_card">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">{{object.name}}</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-scroll">
                                    {{object.content|safe}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end::Content-->
            {% include 'parts/footer.html' %}
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->
{% include 'parts/user_panel.html' %}

{% include 'parts/scroll_top.html' %}

{% endblock %}

{% block script %}
<script src="{% static 'scripts.js' %}"></script>
{% endblock %}
