{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block content %}

<!--begin::Main-->
{% include 'parts/mobile_header.html' %}
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        {% include 'parts/aside.html' with menu_parent="productloan" menu_submenu="productloan-create" %}
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            {% include 'parts/header.html' %}
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b">
                            <div class="card-header flex-wrap py-3">
                                <div class="card-title">
                                    <h3 class="card-label">Topshiriqlar
                                        <span class="d-block text-muted pt-2 font-size-sm">Topshiriq tahrirlash</span></h3>
                                </div>
                                <div class="card-toolbar">

                                    <!--begin::Button-->
                                    <a href="{% url 'task:task-list' %}" class="btn btn-primary font-weight-bolder">
                                        <span class="svg-icon svg-icon-md">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <circle fill="#000000" cx="9" cy="15" r="6" />
                                                    <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span>Ortga qaytish </a>
                                            
                                    <!--end::Button-->
                                </div>
                            </div>

                            <form class="form form-label" action=""
                                method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body">

                                    <div class="form-group row">

                                        <label class="col-form-label text-right col-lg-3 col-sm-12" for="{{form.group.id}}">
                                            {% if form.group.required %}
                                            <b>{{form.group.label}}</b>
                                            {% else %}
                                            {{form.group.label}}
                                            {% endif %}
                                        </label>
                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                            {% language 'uz' %}
                                            <span style="color:red;">{{form.group.errors}}</span>
                                            {% endlanguage %}
                                            {{form.group}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-lg-3 col-sm-12" for="{{form.name.id}}">
                                            {% if form.name.required %}
                                            <b>{{form.name.label}}</b>
                                            {% else %}
                                            {{form.name.label}}
                                            {% endif %}
                                        </label>
                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                            {% language 'uz' %}
                                            <span style="color:red;">{{form.name.errors}}</span>
                                            {% endlanguage %}
                                            {{form.name}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-lg-3 col-sm-12" for="{{form.date.id}}">
                                            {% if form.date.required %}
                                            <b>{{form.date.label}}</b>
                                            {% else %}
                                            {{form.date.label}}
                                            {% endif %}
                                        </label>
                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                            {% language 'uz' %}
                                            <span style="color:red;">{{form.date.errors}}</span>
                                            {% endlanguage %}
                                            {{form.date}}
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-lg-3 col-sm-12" for="{{form.content.id}}">
                                            {% if form.content.required %}
                                            <b>{{form.content.label}}</b>
                                            {% else %}
                                            {{form.content.label}}
                                            {% endif %}
                                        </label>
                                        <div class="col-lg-9 col-md-9 col-sm-12">
															{% language 'uz' %}
															<span style="color:red;">{{form.content.errors}}</span>
															{% endlanguage %}

															<textarea class="form-group" name="content" id="editor">
                                                                {{ object.content|safe }}
                                                            </textarea>
													</div>
                                    </div>


                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-9">
                                            <button type="submit" class="btn btn-primary mr-2" name="save-edit">Saqlash va sahifada qolish</button>
                                            <button type="submit" class="btn btn-primary mr-2" name="saved">Saqlash</button>
                                            <a href="{% url 'task:task-list' %}" class="btn btn-secondary"><span>Bekor qilish</span></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Entry-->
        </div>
        <!--end::Content-->
        {% include 'parts/footer.html' %}
    </div>
    <!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::Main-->
{% include 'parts/user_panel.html' %}

{% include 'parts/scroll_top.html' %}


{% endblock %}

{% block script %}
<script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>

<script>
ClassicEditor
    .create(document.querySelector( '#editor' ), {
        ckfinder: {
            uploadUrl: '{{host}}/ckeditor/upload/'
        },
    },
    )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );

</script>
{% endblock %}
