{% extends 'base.html' %}
{% block content %}

<!--begin::Main-->
{% include 'parts/mobile_header.html' %}
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        {% include 'parts/aside.html' with menu_parent="mentor" menu_submenu="mentor-list" %}
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            {% include 'parts/header.html' %}
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
            <strong>{{ user.full_name }}</strong></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr class="row100 body">
                            <td>1</td>
                            <td>29.09.2024</td>
                            <td>Monday</td>
                            <td class="p-3 mb-2 bg-success text-white">Present <span class="glyphicon glyphicon-thumbs-up"></span></td>
                            <td class="p-3 mb-2 bg-danger text-white">Absent <span class="glyphicon glyphicon-thumbs-down"></span</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

</div>
            <!--end::Content-->
            {% include 'parts/footer.html' %}
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->
{% include 'parts/user_panel.html' %}

{% include 'parts/scroll_top.html' %}



    {% endblock %}
